<html>
<%- include('partials/head') %>
<body>

<h1>Characters</h1>

<ul>
    <% data.data.results.forEach(character => { %>
        <li>
            <a href="/m/characters/<%= character.id %>"><%= character.name %></a>
        </li>
    <% }) %>
</ul>
</body>
</html>