<html>

<body>

<h1>Comics</h1>

<ul>
    <% data.data.results.forEach(comic => { %>
        <li>
            <a href="/comics/<%= comic.id %>"><%= comic.title %></a>
        </li>
    <% }) %>
</ul>
</body>
</html>