<%- include('partials/head') %>

<section class="home-container">
    <h1>Marvel</h1>

    <section class="category-overview">
        <a href="/m/comics">Comics</a>
        <a href="/m/characters">Characters</a>
        <a href="/m/series">Series</a>
    </section>
</section>

<%- include('partials/footer') %>