<%- include('partials/head') %>

<section class="text-container">
    <h1>Unable to connect</h1>
    <p>
        It seems that you're offline! This page can't be displayed because your computer isn't connected to the
        Internet.
    </p>
    <p>
        You may want to try the following things:
    <ul>
        <li>Turning off aeroplane mode</li>
        <li>Turning on mobile data or Wi-Fi</li>
        <li>Checking the signal in your area</li>
    </ul>
        Pages that <strong>have been visited before</strong> can be accessed through cache.
    </p>
</section>

<%- include('partials/footer') %>