<html>

<body>

<h1><%= title %></h1>

<ul>
    <% comicData.data.results.forEach(comic => { %>
        <li>
            <a href="/<%= comic.id %>"><%= comic.title %></a>
        </li>
    <% }) %>
</ul>
</body>
</html>