<html>

<body>
<h1><%= title %></h1>

<ul>
    <li><a href="/comics"><%= comics %></a></li>
    <li><a href="/characters"><%= characters %></a></li>
    <li><a href="/series"><%= series %></a></li>
</ul>

</body>
</html>